<!doctype html>
<html ng-app="main">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Nice Menu</title>
  <link rel="shortcut icon" href="img/logo.png">
	
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/index.css">
	
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

  <script src="js/index.js"></script>
</head>
<body ng-controller="mainCtrl">
	<div id="wrapper">
		<div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
            Filters
          </a>
        </li>
        <li>
          <a href="#">Price</a>
        </li>
        <li>
          <a href="#">A-Z</a>
        </li>
      </ul>
    </div>


    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
    	<div class="container">
	    	<div class="row">
	    		<h1 class="header">Restaurants</h1>
	    		<p><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> Results</p>
	    	</div>
	    	<div class="row">
	    		<div class="col s4" ng-repeat="place in places">
						<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="http://static1.squarespace.com/static/51ab58f4e4b0361e5f3ed294/51ab58f4e4b0361e5f3ed29a/51ab80bee4b0058e26cfcb1f/1370194240299/Benchmark_Restaurant_Dining_Room_Photographed_by_Evan_Sung.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">{{ truncate(place.title.$t) }}<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>

	    			
	    			
	    		</div>
	    	</div>
	    </div>
                    
                    
          
    </div>
    <!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<script src="js/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

	<!-- Menu Toggle Script -->
	<script>
	$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
	});
	
	function rotateCard(btn){
    var $card = $(btn).closest('.card-container');
    console.log($card);
    if($card.hasClass('hover')){
      $card.removeClass('hover');
    } else {
      $card.addClass('hover');
    }
	}
	
	
	</script>

</body>

</html>